parameters:
    eloquent:
        driver: mysql
        host: localhost
        database: odcvl
        username: root
        password: ''
        charset: utf8
        collation: utf8_general_ci
        prefix: ''
    auth:
        secret: ThisTokenIsNotSecretChangeIt
