{% import 'Macro/form.twig' as form %}

{% if not properties.empty %}
    <div class="row">
        {% for property in properties %}
            <div class="col-md-6">
                {{ form.group('property[' ~ property.id ~ ']', null, 'property[' ~ property.id ~ ']', property.name) }}
            </div>
        {% endfor %}
    </div>
{% endif %}
